.ability-container-parent{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 330px;
    left: 35px;
    font-size: 2.5rem;
    width: calc(100% - 70px);
}

.ability-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}